/*.layers {
	background-color: lightblue
}
*/
/*.sidebar {
	background-color: yellow;
}*/

.material-icons.rightcorner {
	position: absolute;
	top: 0px;
	right: 0px;
}

.optionsList {
	align-items: center;
}


li {
	list-style-type: none;
  	padding: 0px;
  	margin: 0px;

}

div.layerOptionsWrapper {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	word-wrap: word-break;
}

div.layerOptions {
	text-align: right;
	color: white;
}

.md-primary.md-raised.md-button.md-ink-ripple.sidebar {
	width: 100px;
	height: 100px;
	white-space: normal;
}


.selectedNewLayer {
	color: goldenrod;
}

.md-primary.md-raised.md-button.md-ink-ripple.layers {
	width: 500px;
	min-height: 70px;
}

#compiledCode {
	width: 500px;
	white-space: pre;
}

.layerOptions > .input {
	width: 150px;
	padding-right: 0;
	margin-right: 0;
}

.layerOptions > select.input {
	margin-left: 5px;
}

.optionsList p {
	color: white;
	word-wrap: break-word;
}
