div.ace_editor {
	height: 70vh;
	width: 40vw;
}

div.ace_editor, div.ace_editor * {
	font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#modelDetailContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	justify-content: center;
	background-color: white;
	padding-top: 64px;
	min-height: 100vh;
}

div.pane {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 700px;
	height: calc(100vh - 64px);
	padding: 10px;
}

md-content.md-padding {
	min-width: 40vw;
	min-height: 80vh;
	display: inline-block;
}


/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
div.pane::-webkit-scrollbar {
    width: 1em;
}

div.pane::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border: 1px dashed #333;
}

div.pane::-webkit-scrollbar-thumb {
  background-color: #555;
  outline: 1px solid #444;
}
