.ace_editor {
	height: 70vh;
	width: 40vw;
}
#modelDetailContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	min-height: min-content;
	overflow: hidden;
}

#modelDetailContainer > div.rightPane {
	/* TODO: make this scrollable */
	height: 80vh;
	overflow: auto;
}

