<link rel="stylesheet" type="text/css" href="/src/components/model-detail/model-detail.css" />
<div ng-controller="ModelDetailController">
	<div class="topNav">
			<button ng-click="vm.renderMarkdown = false">Edit</button>
			<button ng-click="vm.renderMarkdown = true">Preview</button>
			<button ng-click="vm.star()">Star</button>
			<label>{{vm.starCount}}</label>
			<!-- <h1>{{vm.username}}/{{vm.model}}</h1>
			<h4>This is the model {{vm.model}}, authored by {{vm.username}}.</h4> -->
	</div>
	</br>
	<div ng-if="!vm.renderMarkdown"class="ace_editor"  ng-model="vm.markdown" ui-ace></div>
	<div ng-if="vm.renderMarkdown" btf-markdown="vm.markdown"></div>
</div>

<div ng-include="'/src/components/model-detail/graph-editor.html'">

</div> 
