.ace_editor {
	height: 70vh;
	width: 40vw;
}
#modelDetailContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	min-height: min-content;
	overflow: hidden;
}

div.pane {
	display: flex;
	flex-direction: column;
	width: 700px;
	padding: 10px;
}

md-content.md-padding {
	min-width: 40vw;
	min-height: 80vh;
	display: inline-block;
}

