<!doctype html>
<html ng-app="axonApp">
    <head>
        <title>Axon</title>
        <link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/src/components/training/training.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
        <base href="/"></base>
    </head>


    <body id="index-body" layout="column" ng-controller="AxonController" ng-cloak>
        <div class="main-toolbar">
            <md-toolbar id="index-toolbar" layout="row" class="md-hue-2">
                <div class="md-toolbar-tools">
                    <span id="index-title" flex="15">
                        <a href="/explore">
                            <img src="/static/axon-bold.png" height="50">
                        </a>
                    </span>
                    <md-autocomplete
                        ng-if="root.loggedIn"
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in root.getMatches(searchText)"
                        md-item-text="item.handle + '/' + item.model"
                        md-selected-item-change="root.redirect(selectedItem); searchText=''"
                        md-clear-button="false"
                        class="searchBox"
                        flex="80">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.handle + '/' + item.model}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                    </md-autocomplete>

                    <!-- Options visible to logged in users -->
                    <span ng-if="root.loggedIn" layout="row">
                        <span flex><md-button ng-click="root.createModel()"><md-tooltip>New Model</md-tooltip><i class="fa fa-plus"></i></md-button> </span>
                        <!-- Put this back in after we have a true profile page. -->
                        <!--<span flex><md-button href="/{{root.username}}"><md-tooltip>{{root.username}}</md-tooltip><i class="fa fa-user"></i></md-button></span>-->
                        <span flex><md-button ng-click="root.logout()">Logout</span>
                    </span>
                </div>
            </md-toolbar>
        </div>

        <div id="index-container" class="container" flex layout="row">
            <md-content flex id="content">
                <div ng-view></div>
            </md-content>
        </div>

        <!-- Angular Scripts -->
        <script src="node_modules/angular/angular.js" type="text/javascript" ></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>

        <!-- Ace Markup Editor Scripts -->
        <script type="text/javascript" src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-ace/src/ui-ace.js"></script>
        <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="node_modules/showdown/dist/showdown.js"></script>
        <script type="text/javascript" src="vendor/angular-markdown-directive/markdown.js"></script>

        <!-- Angular WebSocket -->
        <script type="text/javascript" src="node_modules/angular-websocket/dist/angular-websocket.min.js"></script>

        <!-- Angular Controllers -->
        <script src="build/axon.js"></script>
        <script src= "node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
        <!--<script src="src/app.js"></script>
        <script src="src/app.controller.js"></script>
        <script src="src/app.config.js"></script>
        <script src="src/components/login-register/login.controller.js"></script>
        <script src="src/components/profile/profile.controller.js"></script>
        <script src="src/components/model-detail/model.controller.js"></script>-->

        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/23a2b6ba85.js"></script>
    </body>
</html>
