
.train-out {
    color: green;
    font-family: monospace;
    font-size: 14px;
    overflow: scroll;
    /*width: 80%;*/
    max-width: 1080px;
    height: 900px;
    overflow-x: scroll;
    background: #111;
    /*min-width: 800px;*/
}
