<div class="stylesheets">
	<link rel="stylesheet" type="text/css" href="/src/components/login-register/login.css" />
</div>

<!-- Registration form -->
<div class="login" ng-if="!loginRegister.displayLogin">
	<div class="statusMessages">
		<h2>Login</h2>
		<form layout="column">
			<md-label>
				User Name
				<md-input-container>
					<input type="text" ng-model="vm.handle" required></input>
				</md-input-container>
			</md-label>
			<md-label>
				Password
				<md-input-container>
					<input type="password" ng-model="vm.password" required>	</input>
				</md-input-container>
			</md-label>
			<md-button ng-click="vm.login()">login</md-button>
		</form>
	</div>
</div>
