<link rel="stylesheet" type="text/css" href="/src/components/profile/profile.css" />
<div class="gridListdemoDynamicTiles" ng-controller="ProfileController">
	<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px">
    	<h2> Recent Models </h2>
		    <md-grid-tile ng-repeat="tile in vm.tiles"
		                  md-rowspan="{{tile.span.row}}"
		                  md-colspan="{{tile.span.col}}"
		                  ng-class="tile.background"
		                  ng-click="vm.viewModel(tile.username, tile.modelname)">
		      	<!-- <md-grid-tile-header>
		      		<h3>{{tile.username}}/{{tile.modelname}}</h3>
		      	</md-grid-tile-header> -->
		      	<div style="align-items: center; text-align: center"> 
			      	<h2>Model: {{tile.modelname}}</h2>
			      	<h3> Author: {{tile.fullname}} ({{tile.username}})</h3> 
			     </div>
		      	<!-- <img id="nn-icon" src="http://i.imgur.com/S6aEYTk.png"></img> -->
		    </md-grid-tile>
  </md-grid-list>
</div>
