html, body {
	height: 100%;
	min-width: 1430px;
}

#index-body {
	background-color: white;
}

#index-toolbar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6700+18,f67e2c+40 */

/* Orange gradient */
background: #ff6700; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff6700 18%, #f67e2c 40%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ff6700 18%,#f67e2c 40%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ff6700 18%,#f67e2c 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6700', endColorstr='#f67e2c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background: rgba(255,255,255,.1);

position: fixed;
top: 0;
}

#index-toolbar > * {
	margin-left: auto;
	margin-right: auto;
}

#index-title {
	height: 100%;
}

#index-title img {
	height: 100%;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-left: 20px;
}

#index-container > * {
	background-color: white;
	overflow: hidden;
}

#index-container {
	/*width: 80vw;*/
	/*margin-left: auto;
	margin-right: auto;
	padding: 30px;*/
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
